@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/reset';

.footer-wrapper {
  width: 100%;
  min-height: 300px;
  background: #3e0303;
  border-top: 1px solid black;
}

.footer-main {
  margin: 30px auto 0;
  width: 1080px;
  @include flexBox(center, flex-start);
}
.nav-menu-wrapper{
  width: 502px;
  min-height: 250px;
  display: flex;
  justify-content: space-around;
}

.nav-menu {
  width: 250px;
  min-height: 250px;
  padding-left: 15px;
  padding-right: 10px;
}

.column-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #f1f1f1;
}

.small-divider {
  background-color: rgba(255, 255, 255, .3);
  width: 30px;
  height: 3px;
  margin-top: 10px;
}

.footer-links {
  width: 240px;
  min-height: 150px;
  list-style-type: none;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 0;
}

.footer-menu-item {
  padding: 6px 0;
}

.footer-link {
  text-decoration: none;
  line-height: 1.6;
  color: #f1f1f1ad;
  transition: 0.3s;
  font-size: 16px;
}

.footer-link:hover {
  color: #fff;
}

.socmedia-icons {
  width: 150px;
  min-height: 80px;
  margin-top: 10px;
  @include flexBox(flex-start,flex-start)
}

.socmedia-smcontainer {
  width: 90px;
  height: 50px;
  @include flexBox(center, center);
}

.socmedia-button {
  width: 35px;
  height: 35px;
  border-width: 2px;
  border-radius: 50%;
  border-color: #f1f1f1;
  border-style: solid;
  @include flexBox(center, center);
  transition: .3s !important;
}
.socmedia{
    margin-right: 5px;
}

.bi-instagram {
  width: 20px;
  height: 20px;
  color: #f1f1f1;
}

.bi-facebook {
  width: 20px;
  height: 20px;
  color: #f1f1f1;
}

.socmedia-button:hover {
  background-color: #3b5998;
}

#insta-back:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.pay-methods-img{
    width: 170px;
    height: 31px;
    margin-top: 5px;
}
.image-payment{
    width: 170px;
    height: 31px;
}

.absolute-footer{
    width: 100%;
    height: 50px;
    @include flexBox(center,center);
    background: #380202;
}
.absolute-wrapper{
    width: 1080px;
    height: 25px;
    @include flexBox(space-between,center);
    padding: 0 35px 0 35px;
}
.footer-primary{
    padding-left: 15px;
}
.copyright-footer{
    color: #f1f1f198;
}
.footer-secondary{
    padding-right: 25px;
}
.web-dev{
    color: #f1f1f198;
}
.web-dev>a{
    text-decoration: none;
    color: #f1f1f198;
    transition: 0.3s;
}
.web-dev>a:hover{
    color: #fff;
}
@media screen and(max-width:1090px) {
  .footer-main{
    width: inherit;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
  }
  .nav-menu-wrapper{
    width: inherit;
    min-height: 180px;
    padding: 0 30px 0 30px;
  }
  .nav-menu{
    min-height: 180px;
    margin-bottom: 20px;
  }
  .absolute-footer{
    min-height: 75px;
  }
  .absolute-wrapper{
    width: inherit;
    min-height: 53px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
  }
  .footer-primary{
    height: 25px;
    width: 310px;
  }
  .footer-secondary{
    height: 25px;
    width: 310px;
    text-align: center;
    padding-left: 15px;
  }
  
}
@media screen and (max-width:580px) {
  .nav-menu-wrapper{
    width: 300px;
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
  }
  .nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
  }
  .nav-menu>span{
    text-align: center;
  }
  .small-divider{
    align-self: center;
  }
  .footer-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 90px;
  }
  .socmedia-icons{
    @include flexBox(center,flex-start);
  }
 

}

