<div class="main-container">
  <div class="main-wrapper">
    <h2 style="text-align: center;"><strong>ДОГОВІР ПУБЛІЧНОЇ ОФЕРТИ</strong></h2>
    <p><strong>ПУБЛІЧНИЙ ДОГОВІР (ОФЕРТА)<br>на замовлення, придбання, продаж та&nbsp;доставку
        товарів</strong>&nbsp;&nbsp;</p>
    <p>Цей договір між ФОП Ткач Іван Степанович, в подальшому «Продавець» і користувачем послугами інтернет-сайту, в
      подальшому – «Замовник», є договором доручення на замовлення, придбання та доставку Товарів і визначає основні
      умови замовлення, придбання та доставки товарів через інтернет сайт sushiking.com.ua&nbsp; Покупець, діючи з метою
      придбання Товару, приймає умови цього договору купівлі-продажу товарів (далі – Договір) на наступних умовах.</p>
    <ol>
      <li><strong> ВИЗНАЧЕННЯ ТЕРМІНІВ</strong></li>
    </ol>
    <p>1.1. Публічна оферта (далі – «Оферта») – публічна пропозиція Продавця, адресована невизначеному колу осіб,
      укласти з Продавцем договір купівлі-продажу товару дистанційним способом (далі – «Договір») на умовах, що
      містяться в цій Оферті, включаючи всі Додатки.</p>
    <p>1.2. Замовлення – рішення Замовника замовити товар і його доставку, оформлене в інтернет-магазині та&nbsp;/ або
      доручення на придбання і доставку товарів.</p>
    <ol start="2">
      <li><strong> ЗАГАЛЬНІ ПОЛОЖЕННЯ</strong></li>
    </ol>
    <p>2.1. Наведена нижче інформація є офіційною пропозицією (офертою) інтернет-магазину&nbsp;<a
        href="/">sushiking.com.ua</a>&nbsp; будь-якій фізичній особі (далі – Покупець) укласти договір купівлі-продажу
      товарів. Зазначений договір є публічним, тобто, відповідно до статті 633 Цивільного кодексу України його умови
      однакові для всіх покупців.</p>
    <p>2.2. Згідно зі статтею 642 Цивільного Кодексу України повним і беззастережним прийняттям умов даної пропозиції
      (оферти), що підтверджує укладення Договору купівлі-продажу товарів на запропонованих нижче умовах, є факт
      оформлення та підтвердження замовлення.</p>
    <p>2.3. Оформленням Замовлення Покупець підтверджує узгодження і безумовне прийняття ним умов цієї пропозиції
      (оферти).</p>
    <p>2.4. Укладаючи Договір (тобто акцептуючи умови справжнього Пропозиції (Пропоновані можливості) шляхом оформлення
      Замовлення), Покупець підтверджує наступне:</p>
    <ul>
      <li>Покупець цілком і повністю ознайомлений, і згоден з умовами цієї пропозиції (оферти);</li>
      <li>Він дає дозвіл на збір, обробку та передачу персональних даних на умовах, визначених нижче в Застереженні щодо
        збору, обробки та передачі персональних даних дозвіл на обробку персональних даних діє протягом усього терміну
        дії Договору, а також протягом необмеженого терміну після закінчення його дії. Крім цього, укладенням Договору
        Замовник підтверджує, що він повідомлений (без додаткового повідомлення) про права, встановлених Законом України
        “Про захист персональних даних”,&nbsp;про цілі збору даних, а також про те, що його персональні дані передаються
        Продавцю з метою можливості виконання умов цього Договору, можливості проведення взаєморозрахунків, а також для
        отримання рахунків, актів та інших документів. Замовник також погоджується з тим, що Продавець має право
        надавати доступ та передавати його персональні дані третім особам без будь-яких додаткових повідомлень
        Замовника, не змінюючи при цьому мета обробки персональних даних. Обсяг прав Замовника, як суб’єкта персональних
        даних відповідно до Закону України “Про захист персональних даних” йому відомий і зрозумілий.</li>
    </ul>
    <ol start="3">
      <li><strong> ЦІНА ТОВАРУ</strong></li>
    </ol>
    <p>3.1. Ціна на кожну позицію Товару вказана на сайті Інтернет-магазину.</p>
    <p>3.2. Продавець має право в односторонньому порядку змінити ціну на будь-яку позицію Товару.</p>
    <p>3.3. У разі зміни ціни на замовлений Товар Продавець зобов’язується проінформувати Покупця про зміну ціни Товару.
    </p>
    <p>3.4. Покупець має право підтвердити або анулювати Замовлення на придбання Товару, якщо ціна змінена Продавцем
      після оформлення Замовлення.</p>
    <p>3.5. Зміна Продавцем ціни на оплачений Покупцем Товар не допускається.</p>
    <p>3.6. Зобов’язання Покупця по оплаті Товару вважаються виконаними з моменту надходження Продавцю коштів.</p>
    <p>3.7. Розрахунки між Продавцем і Покупцем за Товар здійснюються способами, зазначеними на сайті Інтернет-магазину
      в розділі «Доставка і оплата».</p>
    <ol start="4">
      <li><strong> ОФОРМЛЕННЯ ЗАМОВЛЕННЯ</strong></li>
    </ol>
    <p>4.1. Замовлення Товару здійснюється Покупцем через Оператора по телефону:</p>
    <ul>
      <li>(067)939-84-88</li>
      <li>(093)939-84-88</li>
    </ul>
    <p>або через сервіс сайту Інтернет-магазину&nbsp;<a href="/">sushiking.com.ua</a></p>
    <p>4.2. При реєстрації на сайті Інтернет-магазину Покупець зобов’язується надати наступну реєстраційну інформацію:
    </p>
    <p>4.2.1. Ім’я Покупця або вказаної ним особи (одержувача);</p>
    <p>4.2.2. Адреса, за якою слід доставити Товар (якщо доставка до адреси Покупця);</p>
    <p>4.2.3. Адреса електронної пошти (не обов’язкове поле для заповнення);</p>
    <p>4.2.4. контактний телефон.</p>
    <p>4.4. Якщо Продавцю необхідна додаткова інформація, він має право запросити її у Покупця. У разі ненадання
      необхідної інформації Покупцем, Продавець не несе відповідальності за надання якісної послуги Покупцю при покупці
      товарів в інтернет-магазині.</p>
    <p>4.5. При оформленні Замовлення через Оператора (п. 4.1. Цієї Оферти) Покупець зобов’язується надати інформацію,
      зазначену в п. 4.2. цієї Оферти.</p>
    <p>4.6. Ухвалення Покупцем умов цієї Оферти здійснюється за допомогою внесення Покупцем відповідних даних в
      реєстраційну форму на сайті Інтернет-магазину або при оформленні Замовлення через Оператора. Після оформлення
      Замовлення через Оператора дані про Покупця реєструються в базі даних Продавця.</p>
    <p>4.7. Покупець несе відповідальність за достовірність наданої інформації при оформленні Замовлення.</p>
    <p>4.8. Договір купівлі-продажу дистанційним способом між Продавцем і Покупцем вважається укладеним з моменту
      електронного оформлення замовлення на сервісі сайту інтернет-магазину або видачі Продавцем Покупцеві касового або
      товарного чека або іншого документа, що підтверджує оплату Товару.</p>
    <p><strong>5. ДОСТАВКА ТА ПЕРЕДАЧА ТОВАРУ&nbsp;ПОКУПЦЮ</strong>&nbsp;</p>
    <p>5.1. Способи, порядок і терміни доставки товарів вказані на сайті в розділі «Доставка і оплата». Порядок і умови
      доставки замовленого товару Покупець погоджує з оператором інтернет-маркету в момент оформлення покупки.</p>
    <ol start="6">
      <li><strong> ВІДПОВІДАЛЬНІСТЬ СТОРІН</strong></li>
    </ol>
    <p>6.1. Продавець не несе відповідальності за неналежне, несвоєчасне виконання Замовлень і своїх зобов’язань в разі
      надання Покупцем недостовірної або помилкової інформації.</p>
    <p style="margin-bottom: 0">6.2. Продавець і Покупець несуть відповідальність за виконання своїх зобов’язань відповідно до чинного
      законодавства України і положень цього Договору.</p>
  </div>
</div>
