@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/reset';


.header-wrapper {
  width: 100%;
  min-height: 100px;
  background: black;
}

.top-bar {
  width: 1080px;
  min-height: 30px;
  margin: 0 auto;
  @include flexBox(flex-end, center);
}

.text-bar {
  min-width: 456px;
  height: 30px;
  @include flexBox(space-evenly, stretch);
}

.top-bar-items {
  list-style-type: none;
}

.top-bar-links {
  text-decoration: none;
  position: relative;
}

.min-sum {
  font-size: .75em;
  padding-top: 3px;
  width: 216px;
  color: #fff;
}

.order-condition-link {
  color: #fff;
  font-size: .8em;
  transition: 0.3s;
}

.order-condition-link:hover {
  cursor: pointer;
  color: $hover1;
}

.news-and-discounts-link {
  color: #fff;
  font-size: .8em;
  transition: 0.3s;
}

.news-and-discounts-link:hover {
  cursor: pointer;
  color: $hover1;
}

.order-condition-link::before {
  display: block;
  content: '';
  width: 1px;
  height: 15px;
  background-color: lightgray;
  position: absolute;
  left: -13px;
  top: 2px;
}

.news-and-discounts-link::before {
  display: block;
  content: '';
  width: 1px;
  height: 15px;
  background-color: lightgray;
  position: absolute;
  left: -7px;
  top: 2px;
}

.header-main {
  width: 100%;
  height: 100px;
}

.inner-header-main-wrapper {
  width: 1080px;
  height: inherit;
  margin: 0 auto;
  @include flexBox (space-between, stretch)
}

.logo {
  width: 500px;
  min-height: 100px;
}

.telNumbers-and-addresses {
  width: 300px;
  min-height: 67px;
}

.telNumbers {
  width: inherit;
  height: 25px;
  @include flexBox(space-around, flex-start);
  padding-top: 10px;
}

.telNumber {
  list-style-type: none;
  width: 155px;
}

.telNum {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  font-weight: bold;
}

.telNum:hover {
  color: $hover1;
}

.addresses {
  width: inherit;
  min-height: 60px;
  padding-top: 8px;
}

.address {
  list-style-type: none;

}

.link-address {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.link-address:hover {
  color: $hover1;
}

.info-box {
  width: 260px;
  min-height: 100px;
  @include flexBox(space-around, center)
}

.contact-btn {
  height: inherit;
  width: 140px;
}

.btn-outline-light {
  border-radius: 80px;
  padding: 5px 10px;
  border-width: 2px;
  font-size: 0.8em;
}

.socmedia-links {
  height: inherit;
  width: 50px;
  @include flexBox(space-around, center)
}

.uil-instagram {
  color: #fff;
  font-size: 23px;
  transition: 0.3s;
}

.uil-instagram:hover {
  color: $hover1;
}

.uil-facebook-f {
  color: #fff;
  font-size: 23px;
  transition: 0.3s;
}

.uil-facebook-f:hover {
  color: $hover1;
}

.user-btn {
  background: #000;
  color: red;
  border-width: 0;
  width: 40px;
  height: 40px;
}


.uil-user-circle {
  font-size: 28px;
  transition: 0.3s;
}

.uil-user-circle:hover {
  color: $hover1;
}

.nav-bar {
  width: 100%;
  height: 60px;
  @include flexBox(center, center);
}

.nav-wrapper {
  width: 1080px;
  height: inherit;
}

.nav-links {
  width: inherit;
  height: inherit;
  @include flexBox(space-evenly, center);
}

.nav-item {
  list-style-type: none;

}

.nav-link {
  color: red;
  font-size: medium;
  font-weight: bold;
  transition: 0.3s;
}

.nav-link:hover {
  color: $hover1;
}

.active{
  color: #fff;
}
.active:hover{
  color: #fff;
}
