<div class="main-container">
  <div class="main-wrapper">
    <div class="title"><h2>Умови доставки та оплати</h2></div>
    <div class="order-map">
      <img width= "1045"
      height="490" src="../../../assets/images/Screenshot_72.png" alt="">
    </div>
    <div class="conditions">
      <h3><strong><span style="color: #50b848">Зелена зона</span></strong> – час доставки до 60хв, мінімальне замовлення
        300грн</h3>
      <h3><strong><span style="color: #ffff00">Жовта зона</span></strong> – час доставки до 90хв, мінімальне замовлення
        300грн</h3>
      <h3 class="h3-last">За межі міста – Доставляємо тільки у населені пункти, які на карті позначені червоними мітками, час доставки
        120хв, мінімальне замовлення 500грн</h3>
      <div class="main-text-content">
        <p class="service-sent">Скористайтеся сервісом <em><strong>SushiKing.com.ua</strong></em> для швидкого і вигідного замовлення страв
          японської кухні додому і в офіс.</p>
        <p class="cities"><em><strong>Львів</strong></em></p>
        <ul class="lviv-orders">
          <li>Доставка безкоштовна</li>
          <li>Графік роботи:<br>–&nbsp; &nbsp;Понеділок 11:00 до 22:45<br>–&nbsp; &nbsp;Вівторок 11:00 до
            22:45<br>–&nbsp; &nbsp;Середа 11:00 до 22:45<br>–&nbsp; &nbsp;Четвер 11:00 до 22:45<br>–&nbsp;
            &nbsp;П’ятниця 11:00 до 22:45<br>–&nbsp; &nbsp;Субота 11:00 до 22:45<br>–&nbsp; &nbsp;Неділя 11:00 до 22:45
          </li>
          <li>Мінімальна сума замовлення 300 грн</li>
          <li>Оплата готівкою чи карткою на сайті</li>
        </ul>
        <p class="cities"><em><strong>Винники, Зимна Вода, Рудно, Холодновідка, Cокільники, Малехів, Брюховичі, Лапаївка, Скнилів,
              Білогорща, Рясне, Рясне-2, Рясне-Руське</strong></em></p>
        <ul class="vynnyky-orders">
          <li>Доставка безкоштовна</li>
          <li>Мінімальна сума замовлення 500 грн</li>
          <li>Час очікування до 120 хв.</li>
          <li>Оплата готівкою чи карткою на сайті</li>
        </ul>
        <p class="cities"><em><strong>Солонка, Давидів, Дубляни, Муроване, Зубра, Пасіки-Зубрицькі, Лисиничі</strong></em></p>
        <ul class="solonka-orders">
          <li>Доставка безкоштовна</li>
          <li>Мінімальна сума замовлення 500 грн</li>
          <li>Час очікування до 120 хв.</li>
          <li>Оплата готівкою чи карткою на сайті</li>
        </ul>
      </div>
    </div>
  </div>
</div>
