@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/reset';

.main-container {
  width: 100%;
  min-height: 300px;
  padding-top: 50px;
  padding-bottom: 75px;
  background: black;
  padding-top: 210px;
}

.main-wrapper {
  width: 1050px;
  min-height: 300px;
  margin: 0 auto;
}

.title-container {
  width: 100%;
  height: 40px;
  position: relative;
  text-align: center;
}

.title-container>h2 {
  text-transform: uppercase;
  color: $text2;
}

.title-container::before {
  content: '';
  display: block;
  width: 370px;
  height: 2px;
  background-color: rgb(73, 73, 73);
  position: absolute;
  top: 19px;
}

.title-container::after {
  content: '';
  display: block;
  width: 370px;
  height: 2px;
  background-color: rgb(73, 73, 73);
  position: absolute;
  top: 19px;
  left: 676px;
}

.maps-container {
  width: 1050px;
  min-height: 20px;
  margin: 0 auto;
}

.map-wrapper {
  margin: 40px auto;
  margin-top: 40px;
}

.map-wrapper>img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.contacts-container{
  width: 1050px;
  min-height: 300px;
  display: flex;
  justify-content: space-between;
}
.contacts-wrapper{
  width: 420px;
  min-height: 200px;
  position: relative;
}
.our-contacts-title{
  width: 420px;
  height: 50px;
  margin-bottom: 30px;
}
.our-contacts-title>h4{
  text-transform: uppercase;
  color: $text2;
}
.our-contacts-title::after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f1f1f1;
  position: absolute;
  top: 40px;
}
.telNumbers-and-addresses{
  width: 420px;
  min-height: 50px;
}
.telNumbers{
  list-style-type: none;
}
.telNumber>a{
  text-decoration: none;
  color: $text2;
  transition: .3s;
  font-weight: bold;
}
.telNumber>a:hover{
  color: $hover1;
}
.addresses{
  list-style-type: none;
  margin-bottom: 20px;
}
.address>a{
  text-decoration: none;
  color: $text2;
  transition: .3s;
}
.media-wrapper{
  width: 100%;
  min-height: 10px;
}
.greetings{
  color: $text2;
  margin-bottom: 5px;
}

.socmedia-icons {
  width: 150px;
  min-height: 140px;
}

.socmedia-smcontainer {
  width: 90px;
  min-height: 50px;
  @include flexBox(flex-start, center);
}

.socmedia-button {
  width: 35px;
  height: 35px;
  border-width: 2px;
  border-radius: 50%;
  border-color: #f1f1f1;
  border-style: solid;
  @include flexBox(center, center);
  transition: .3s !important;
}
.socmedia{
    margin-right: 5px;
}

.bi-instagram {
  width: 20px;
  height: 20px;
  color: #f1f1f1;
}

.bi-facebook {
  width: 20px;
  height: 20px;
  color: #f1f1f1;
}

.socmedia-button:hover {
  background-color: #3b5998;
}

#insta-back:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.tag-line{
  color: $text2;
}

.form-wrapper{
  width: 450px;
  min-width: 200px;
  position: relative;
}
.feedback-call-wrapper{
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.form-title{
  color: #f1f1f1;
  width: 420px;
  height: 50px;
  margin-bottom: 10px;
}
.form-title::after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f1f1f1;
  position: absolute;
  top: 40px;
}
.input-feedback{
  width: 400px;
  height: 2.507em;
  padding: 0 .75em;
  font-size: large;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  transition: .2s ease-in-out;
  background-color: black;
  color: $text2;
  margin-bottom: 20px;
}
.input-feedback:focus{
  outline: none;
  border-style: solid;
  border-color: #f0fffe;
  box-shadow: 0 0 5px 1px #ffffff;
}
.small-title{
  font-weight: 700;
  font-size: larger;
  margin-bottom: .4em;
  color: $text2;
}
.callback-button{
  width: 230px;
  height: 37px;
  padding: 0 1.2em;
  font-size: .97em;
  letter-spacing: .03em;
  cursor: pointer;
  font-weight: bolder;
  text-align: center;
  background-color: black;
  color: $text2;
  border: 1px solid #ffffff;
  transition: 0.2s ease-in-out;
}
.callback-button:hover{
  color: black;
  background-color: #fff;
}

