<div class="main-container">
  <div class="main-wrapper">
    <div class="title-text">
      <h1 class="title">Sushi King</h1>
      <p class="title-descrription">
        це ресторан японської кухні з нотами Азії, де готують для Вас не просто страви, а дарують яскраву палітру
        емоцій.
      </p>
    </div>
    <div class="text-main">
      <div class="bragging-text">
        <p class="text-center">
          <strong>SushiKing</strong> протягом кількох років накопичував досвід приготування
          справжніх японських страв. Безцінні знання , постійний контроль за свіжістю інгредієнтів та дотримання
          традиційних технологій приготування є основами нашої команди.<br><strong>МЕГАроли<strong> – ми є новаторами
              даного тренду, адже ми перші у Львові створили для Вас роли, де максимально багато начинки, а особливо
              морепродуктів. Ми розробили для Вас унікальні, авторські рецепти МЕГАролів, де використовуємо ексклюзивні
              продукти.<br>В Sushi King, також можна познайомитись із різноманіттям супів, а саме:</strong></strong>
        </p>
      </div>
      <ul class="explain-text">
        <li class="explain-list">Том Ям – гострий тайський суп, одна з найвідоміших страв тайської кухні, в основі якої:
          кокосове молоко,
          лимонна трава, тайська паста, лист кафіру</li>
        <li class="explain-list">Рамен – відома у всьому світі страва японської кухні. Рамен – смачна та поживна страва,
          яка готується на
          основі наваристого бульйону та яєчної локшини</li>
        <li class="explain-list">Місо широ – в Японії суп місо широ є головною стравою традиційного сніданку. Готується
          на основі місо пасти
          з додаванням водорості вакаме, грибів шиїтаке, а також різноманітних морепродуктів</li>
      </ul>

      <div class="invitation-text">
        <p>А ще Ви буде приємно вражені салатами та локшинами, які ми готуємо для Вас за унікальними рецептами.<br>Ми
          завжди раді готувати для Вас найкращі страви, дарувати емоції та відмінний сервіс
        </p>
      </div>
    </div>
  </div>
</div>
